[Desktop Entry]
Name=govechoOS Starter Apps
Comment=Запуск ряда стартовых программ govechoOS
Exec=/usr/local/bin/govstartapps
Icon=system-run
Type=Application
Categories=Utility;
Terminal=false
NoDisplay=true
X-GNOME-Autostart-Enabled=true
